



   <section>
       <div class="container mt-5">
           <div class="row">
       <div class="col-md-6" style="width: 300px;">
           
        
             <h3> Order Summary </h3>
            
                <ul class="list-inline">
                    <li class="list-inline-item">Total Price: Rs</li>
                    <li class="list-inline-item">{{total}}</li>
                </ul>
               
               <h4>Payment method</h4> 
               <div>
                    <form action="" id="checkout-form"> 
                        <input class=" ml-auto" type="radio" name="paymentmethod" value="COD">
                        <input class=" ml-2" type="radio" name="paymentmethod" value="UPI">
                        <input type="hidden" name="addr" value="{{shipAdd._id}}">
                        <input type="hidden" name="user" value="{{shipAdd.user}}">
                        <button class="btn btn-success" type="submit">Place Order</button>
                    </form>
                 </div>  
       </div>
 <div class="col-md-6" style="width: 300px;float:right;">
        <h4>Shipping Address</h4>
           <div>
                   <h5>{{shipAdd.name}}</h5>
                   <p>{{shipAdd.address}}</p><hr>
                   <p>{{shipAdd.pincode}}</p><hr>
                   <h6>{{shipAdd.phone}}</h6>
                   
                   <a href="/useraddress" class="btn btn-light">Change Address</a>
               
          </div>
       </div>
    </div>
</div>
       </section>
    
   

<script>
        $("#checkout-form").submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/order-submission',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(response)=>{
                alert(response)
                if(response.codSuccess){
                    location.href='/'
                }else{
                    razorpayPayment(response)
                }
            }
        })
    });
    function razorpayPayment(order) {
        var options = {
    "key": "rzp_test_doMzYab1IL4mLl", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Albin testrun",
    "description": "Test Transaction",
    "image": "",
    "order_id": order._id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature);

        verifyPayment(response,order);
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#007bff"
    }

    };
      var rzp1 = new Razorpay(options);
      rzp1.open();
     function verifyPayment(payment,order) {
     $.ajax({
         url:'/verify-payment',
         method:'post',
         data:{
              payment:payment,
               order:order
         },
         
         }
     });
     };

</script>