<section>
<div class="container-fluid mt-5">
    <div class="row pl-6">
        {{#each products}}
        <div class="col-md-3">
            <div class="card" style="width: 15rem;, height: 21rem;">
                    <img style="height= 8rem;width= 15rem" src="/product-images/{{this._id}}.jpg" alt="good">
                
                
                <div class="card-body text-center">
                    <div class="card-tittle"><h2>{{this.Name}}</h2></div>
                    
                    <p class="description">{{this.Description}}</p>
                    <h4 class="price">{{this.Price}}</h4>
                   <div class="row"> 
                 <a href="" class="btn btn-success">Buy Now</a>
                 <button class="btn btn-primary ml-auto" onclick="addToCart('{{this._id}}')">Add To Cart</button>
                   </div> 
                </div>


            </div>
        </div>
        {{/each}}
    </div>
   </div> 
</section>
<script>
    function addToCart(proId){
        $.ajax({
            url:'/add-to-cart/'+proId,
            method:'get',
            success:(response)=>{
                if(response.status){
                    let count=$('#cart-count').html()
                    count=parseInt(count)+1
                    $('#cart-count').html(count)
                }
            }
        })
    }
</script>